nav {
    .homeLink {
        
    }
    .mobileLogoutSection {
        display: inline-block;
    }
    .headerLinks {
        display: none;
        .loginSection {
            display: flex;
        }
    }
}