.body {
    margin-top: 20px;
    border: 1px solid $colors_background_primary;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .bodyBox {
         margin-top: 15px;
         margin-bottom: 15px;
         p {
             margin-top: 10px;
         }
    }
}