.body {
    margin-top: 20px;
    border: 1px solid $colors_background_primary;
    width: 50%;
    margin-left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        font-size: 24px;
        font-weight: 500;
    }
    .bodyBox {
        width: 45%;
        border: 1px solid black;
         margin-top: 15px;
         margin-bottom: 15px;
         p {
             margin-top: 10px;
             color: $colors_fonts_primary;
         }
    }
    .bodyBoxRight {
        align-self: flex-end;
        border: 1px solid black;
        margin: 15px;
        h3 {
            font-size: 24px;
            font-weight: 200;
        }
        h4 {
            font-size: 32px;
            font-weight: 400;
        }
        h5 {
            font-size: 26px;
            font-weight: 300;
        }
    }
}