table {
    width: 100%;
    tr {
        width: 100%;
        td {
            width: 33%;
            text-align: center;
        }
    }
}
.bodyBoxRight {
    h4 {
        margin-top: 10px;
        margin-bottom: 10px;
        font-size: 24px;
        font-weight: 200;
        text-align: center;
    }
}
.bodyBoxTop {
    width: 100%;
    h3 {
        width: 100%;
        background-color: $colors_buttons_background_primary;
        color: $colors_fonts_secondary;
        text-align: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    a {
        margin: 10px 45%;
        text-align: center;
        color: $colors_background_primary;
    }
}