/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a {
  color: inherit;
  text-decoration: none; }

nav {
  width: 100%;
  background-color: #e1e285;
  color: #252521;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 32px;
  align-items: center; }
  nav .homeLink a img {
    width: 20px;
    height: 20px;
    background-color: #e1e285;
    border-radius: 100%; }
  nav .headerLinks {
    height: 20px;
    width: 45%;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    nav .headerLinks .loginSection {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 35%;
      border: 1px solid #252521; }

.body {
  margin-top: 20px;
  border: 1px solid #e1e285;
  width: 50%;
  margin-left: 25%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; }
  .body h2 {
    font-size: 24px;
    font-weight: 500; }
  .body .bodyBox {
    width: 95%;
    border: 1px solid black;
    margin-top: 15px;
    margin-bottom: 15px; }
    .body .bodyBox p {
      margin-top: 10px;
      color: #252521; }
  .body .bodyBoxRight {
    align-self: flex-end;
    border: 1px solid black;
    margin: 15px; }
    .body .bodyBoxRight h3 {
      font-size: 24px;
      font-weight: 200; }
    .body .bodyBoxRight h4 {
      font-size: 32px;
      font-weight: 400; }
    .body .bodyBoxRight h5 {
      font-size: 26px;
      font-weight: 300; }

.bodyRow {
  display: flex;
  flex-direction: row;
  width: 100%; }
  .bodyRow .bodyRowItem {
    width: 15%;
    margin-left: 15px;
    padding-right: 5px;
    border-right: 1px solid black; }

.footer {
  margin-top: 100px;
  width: 100%;
  height: 50px;
  background-color: #e1e285;
  color: #252521;
  display: flex;
  flex-direction: column;
  align-items: flex-start; }
  .footer .socialList {
    align-self: flex-end;
    height: 30px;
    width: 30px;
    border-radius: 100%; }
    .footer .socialList a img {
      height: 30px;
      width: 30px; }

.bodyTable {
  border: 1px solid black;
  width: 90%;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 5%; }
  .bodyTable .bodyRow {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid black; }
    .bodyTable .bodyRow .bodyRowItem {
      height: 100%;
      width: 23.25%;
      border-right: 1px solid black;
      margin-left: 5px; }
    .bodyTable .bodyRow .bodyRowItemFirst {
      width: 7%;
      height: 100%;
      border-right: 1px solid black;
      margin-left: 0px; }
    .bodyTable .bodyRow .bodyRowItemLast {
      width: 23.25%;
      height: 100%;
      margin-left: 5px; }

/*# sourceMappingURL=style.css.map */
