$colors_background_primary: #23772c;
$colors_fonts_primary: #f2efef;

$colors_background_secondary: #298932;
$colors_fonts_secondary: #f2efef;



$colors_buttons_background_primary: #32a83e;
$colors_buttons_fonts_primary: #f2efef;