$colors_background_primary: #a82525;
$colors_fonts_primary: #f2efef;

$colors_background_secondary: #770d0d;
$colors_fonts_secondary: #f2efef;



$colors_buttons_background_primary: #7c1a1a;
$colors_buttons_fonts_primary: #f2efef;