.bodyTable {
    width: 95%;
    margin: 2.5%;
    display: flex;
    flex-direction: column;
    .bodyRow {
        font-size: 16px;
        display: flex;
        flex-direction: row;
        border: 1px solid black;
        .bodyRowItemFirst {
            width: 20%;
            border-right: 1px solid black;
            input {
                width: 100%;
                background-color: $colors_buttons_background_primary;
                color: $colors_buttons_fonts_primary;
                border-color: $colors_buttons_background_primary;
            }
        }
        .bodyRowItem {
            width: 20%;
            text-align: center;
            margin: auto 0;
            
        }
        .bodyRowItemLast {
            width: 20%;
            text-align: center;
            margin: auto 0;
        }
    }
}